<app-header></app-header>

<div class="content">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Task 1</td>
        <td>Completed</td>
        <td>01/01/2020</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Task 2</td>
        <td>Pending</td>
        <td>09/09/9999</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Task 3</td>
        <td>Completed</td>
        <td>01/01/2020</td>
      </tr>
    </tbody>
  </table>
</div>